<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RuntimeTestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE4780F91C3F57C9005A45CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE4781121C3F57C9005A45CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE47811D1C3F57C9005A45CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
